# Copy to env.prod for production deployments
JWT_SECRET=change_me
STRIPE_SECRET_KEY=sk_test_51MHoZdJinpQRfOMjrNyJiiEQRKKFSeBL1tUZzwWPIVqwdr9mpX4qoJa6laqaBraLJPY6WsMqIdZk6WzFAmusBMku00cqtKgDCw
STRIPE_WEBHOOK_SECRET=whsec_yourhook
POSTGRES_PASSWORD=postgres
POSTGRES_URL=postgres://postgres:postgres@postgres:5432/shop
MONGO_URL=mongodb://mongo:27017/shop
